<div id="<%= dom_id contact %>">
  <p>
    <strong>Title:</strong>
    <%= contact.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= contact.mail %>
  </p>

  <p>
    <strong>Messagge:</strong>
    <%= contact.messagge %>
  </p>

</div>
