<nav class="navbar navbar-expand-lg navbar-light lead sticky-top" style="background-color: #101009;" >
  <div class="container-fluid">
    <div class="display-6" style="color: #f2ffcc">
      <%= link_to "Historias de árboles", root_path, class: "nav-link" %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto"></ul>
      <ul class="nav" >
        <li class="nav-item">
          <%= link_to "Inicio", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Blog", blogs_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contacto", new_contact_path, class: "nav-link" %>
        </li>
        <li class="nav-item"  >
          <a class="nav-link">Galería</a>
        </li>
        <div class="row align-items-center">
          <div class="col" >
            <%= link_to (icon('fa-brands', 'facebook', class:"fa-2xl")), "https://www.facebook.com" %>
          </div>
          <div class="col">
            <%= link_to (icon('fa-brands', 'instagram', class:"fa-2xl")), "https://www.instagram.com" %>
          </div>
        </div>
      </ul>
    </div>        
  </div>
</nav>